services:
  mongo:
    image: mongo
    ports:
      - "27018:27017"
    networks:
      - mynet
    volumes:
      - mongo-data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
      MONGO_INITDB_DATABASE: todo

  backend:
    build:
      context: ./backend
    ports:
      - "3001:3001"
    depends_on:
      - mongo
    environment:
      MONGO_URI: mongodb://root:root@mongo:27017/todo?authSource=admin
    networks:
      - mynet

  frontend:
    build:
      context: ./frontend
    ports:
      - "3000:3000"
    networks:
      - mynet

networks:
  mynet:

volumes:
  mongo-data: